body {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: rgb(10, 10, 10);
}

body.dark {
  background-color: #09090b;
  color: rgba(255, 255, 255, 0.8);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.message {
  padding: 0.5rem;
  border-radius: 0.5rem;
  line-height: 1.2;
  font-size: 0.8rem;
}

.user {
  background-color: #f1f5f9;
  color: #475569;
  text-align: right;
  margin-left: 50px;
  align-self: flex-end;
}

.user.dark {
  background-color: #0a0f1d;
  color: rgba(255, 255, 255, 0.8);
}

.assistant {
  background-color: #ede9fe;
  color: #8b5cf6;
  margin-right: 50px;
}

.assistant.dark {
  background-color: #1a032b;
  color: rgba(255, 255, 255, 0.8);
}

.output {
  border: 1px dashed #6c41cf50;
}
