body {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: rgb(10, 10, 10);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.user {
  background-color: #f1f5f9;
  color: #475569;
  text-align: right;
  margin-left: auto;
}

.assistant {
  background-color: #ede9fe;
  color: #8b5cf6;
}

.output {
  border: 1px dashed #6c41cf50;
}
